<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
       
          <ul>
            {% assign footermenu = site.data.contact.details  %}
            {% for item in footermenu %}
            <div class ="social">
              <img class="logo" src="{{ item.icon | relative_url }}" title="{{ item.field }}" alt="{{ item.field }}" />{{ item.value }}
            </div>
            
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
