.page-contact {
    h1 {        
        color: $light-steel;
        font-size: 1.6rem;
        font-family: $font-family-base;      
      }
    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
}
